#showspace-sidebar {
  float: right;
  width: 50%;
  border: 1px solid #ccc;
  padding: 5px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#showspace-sidebar h3 {
  font-size: 1.5em;
}

#showspace-sidebar ul,
#showspace-sidebar ol {
  margin-left: 2em;
}

#showspace-sidebar ul {
  list-style-type: disc;
}

#showspace-sidebar ol li p {
  margin: 0.5em 0;
}

form {
  float: left;
}
